<p>Create a new Tamagotchi Friend</p>

<form action="/tamagotchi" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">GO!</button>
</form>
